{# src/MehdiBundle/Resources/view/Article/view.html.twig #}

{% extends "MehdiBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block mehdi_body %}
  {# On vérifie qu'une image soit bien associée à l'annonce #}
  {#Je sais pas pour quoi image n'est null mais ça marche pas#}
  
  <div>
    {% if article.image is not null %}
      <img src="{{ article.image.url }}" alt="{{ article.image.alt }}">
    
    
    {% endif %}
    <h2>{{ article.title }}</h2>
    <i>Par {{ article.author }}, le {{ article.date|date('d/m/Y') }}</i>

  </div>
  
  <div class="well">

    {{ article.content }}

  </div>
    <div >

   <ul>
 
    {% if not article.categories.empty %}
    <p>
      Cette annonce est parue dans les catégories suivantes :
      {% for category in article.categories %}
        {{ category.name }}{% if not loop.last %}, {% endif %}
      {% endfor %}

    </p>
    {% endif %}
    {% if listArticleSkills|length > 0 %}
  
  </ul>
  </div>
    <div>
      Cette annonce requiert les compétences suivantes :
      <ul>
        {% for ArticleSkill in listArticleSkills %}
          <li>{{ articleSkill.skill.name }} : niveau {{ articleSkill.level }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <p>
    <a href="{{ path('mehdi_ListArticle') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    {% if is_granted('ROLE_AUTEUR') %}  
      <a href="{{ path('mehdi_edit', {'id': article.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-edit"></i>
        Modifier l'annonce
      </a>
    {% endif %}
    {% if is_granted('ROLE_AUTEUR') %}  
      <a href="{{ path('mehdi_delete', {'id': article.id}) }}" class="btn btn-danger">
       <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
     </a>
    {% endif %}
    
  </p>

{% endblock %}